{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'dip/css/styles.css' %}" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>


<div class="right_post_lecture">

    <div class="group_lecture_button">
        <div class="but_collapsible">
            <button class="collapsible">fff</button>
        </div>
        <div class="content">
            {% for p in posts %}
            <p><a href="{{ p.get_absolute_url_lecture }}" class="a_in_content">{{p}}</a></p>
            {% endfor %}
        </div>

        <div class="but_collapsible">
            <button class="collapsible">Лабы</button>
        </div>
        <div class="content">
            {% for p in posts %}
            <p><a href="{{ p.get_absolute_url_lecture }}" class="a_in_content">{{p}}</a></p>
            {% endfor %}
        </div>
    </div>

{% block content %}
{% endblock %}
</div>

<script src="{% static 'dip/js/screepts.js' %}"></script>
</body>
</html>


