{% extends 'dip/index.html' %}

{% block content %}
<!--<h1>{{lecture.title}}</h1>-->
    <div class="iframe_content">
        <iframe id="iframe_laboratory" src="{{laboratory.content_laboratory.url}}" ></iframe>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="menu_block_laboratory">
                <div class="content_in_menu_block_laboratory">

                    <div class="content_in_menu_block_laboratory_input_function">
                        <p><label for="{{ form.function.id_for_function }}" class="custom_label_input">{{form.function.label}}</label>{{form.function}}</p>
                        <div>{{form.function.errors}}</div>
                    </div>

                    <div class="content_in_menu_block_laboratory_input_section">
                        <p><label for="{{ form.function.id_for_label }}" class="custom_label_input">{{form.section.label}}</label>{{form.section}}</p>
                        <div>{{form.section.errors}}</div>
                    </div>

                    <div class="content_in_menu_block_laboratory_button_next">
                        <button type="submit" class="button_click_program">Продолжить</button>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock %}


